.header {
  font-family: 'Bahiana', cursive;
  color: #dee4ed;
  transform-text: uppercase;
  text-align: center;
  background-image: url("http://s2.favim.com/orig/150912/-beautiful-blue-cool-Favim.com-3282862.gif"); 
 background-repeat:norepeat; background-attachment: fixed; background-size:cover;
   width: 50%;
   height: 50%;
   padding: 40px;
}

.info {
    font-family: 'Indie-Flower', cursive;
    background-color: White;
}
